#set ($flowList = $authenticationDiscoveryContext.getFlowsWithAuthorities())
<!DOCTYPE html>
<html>
  #set ($discoFlowId = $authenticationContext.getAttemptedFlow().getId())
  <head>
    <meta charset="utf-8">
    <title>#springMessageText("idp.title", "Web Login Service")</title>
    <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
        </header>
        <div class="content">
          <div class="column one">
            #foreach ($mapEntry in $flowList)
              #if ($mapEntry.first != $discoFlowId)
                #if ($mapEntry.second)
                  #set ($messageKey = $mapEntry.first + "." + $mapEntry.second + ".message")
                  #set ($link = $flowExecutionUrl + "&j_authnflow=" + $mapEntry.first + "&j_authnauthority="+ $mapEntry.second + "&_eventId_proceed=_eventId_proceed")
                  #set ($defaultMessage = $mapEntry.first + "." + $mapEntry.second)
                #else
                  #set ($messageKey = $mapEntry.first + ".message")
                  #set ($link = $flowExecutionUrl + "&j_authnflow=" + $mapEntry.first + "&_eventId_proceed=_eventId_proceed")
                  #set ($defaultMessage = $mapEntry.first)
                #end
                <p><a href="$link#if($csrfToken)&${csrfToken.parameterName}=${csrfToken.token}#{else}#end">#springMessageText($messageKey, $defaultMessage)</a></p>
              #end
            #end
          </div>
        </div>
      </div>
      <footer>
    <div class="container container-footer">
          <p class="footer-text">#springMessageText("idp.footer", "Insert your footer text here.")</p>
        </div>
      </footer>
    </div>
  </body>
</html>
